#!/bin/bash

function run_ansible {
    declare -r role={{ role }}
    declare -r repo_dir={{ repo_dir }}
    declare -r venv_dir={{ venv_dir }}
    declare -r cfg_file={{ cfg_file }}
    declare -r inv_file={{ inv_file }}
    source $venv_dir/bin/activate
    export ANSIBLE_CONFIG="$cfg_file"
    ansible-playbook --ask-become-pass --ask-vault-pass --inventory-file "$inv_file" \
		     --extra-vars "role=$role repo_dir=$repo_dir venv_dir=$venv_dir cfg_file=$cfg_file inv_file=$inv_file" \
		     $repo_dir/ansible/site.yml \
		     -vv
    unset ANSIBLE_CONFIG
    deactivate
}

function extract {
    for file in $@; do
	if [ -f "$file" ]; then
	    case "${file%,}" in
		*.tar.bz2|*.tar.gz|*.tar.xz|*.tbz2|*.tgz|*.txz|*.tar)
		    tar xvf "$file"     ;;
		*.lzma)
		    unlzma "$file"      ;;
		*.bz2)
		    bunzip2 "$file"     ;;
		*.rar)
		    unrar x -ad "$file" ;;
		*.gz)
		    gunzip "$file"      ;;
		*.zip)
		    unzip "$file"       ;;
		*.z)
		    uncompress "$file"  ;;
		*.7z|*.arj|*.cab|*.chm|*.deb|*.dmg|*.iso|*.lzh|*.msi|*.rpm|*.udf|*.wim|*.xar)
                    7z x "$file"        ;;
		*.xz)
		    unxz "$file"        ;;
		*.exe)
		    cabextract "$file"  ;;
		*)
                    echo "extract: '$file' - unknown archive method"
                    return 1
                    ;;
	    esac
	fi
    done
}

function decode {
    declare -r file=$1
    if [ -f "$file"  ]; then
	case "${file%,}" in
	    *.csr)
		openssl req -in $file -noout -text
		;;
	esac
    fi
}

function ppdsh {
    declare -r hosts=$1
    declare -r cmd=$2
    PDSH_RCMD_TYPE=ssh pdsh -w "$hosts" "$cmd" | dshbak -c
}

alias ls='ls --color=never -CF'
alias lsl='ls --author -lhAF | less -F'
alias la='ls -la --group-directories-first --time-style=+"%d.%m.%Y %H:%M" --color=auto -F'
alias ll='ls -l --group-directories-first --time-style=+"%d.%m.%Y %H:%M" --color=auto -F'
alias mount='mount | column -t'
alias ports='netstat -tulanp'
alias e='emacsclient -nw -a emacs'
alias cp="cp -i"                          # confirm before overwriting something
alias df='df -h'                          # human-readable sizes
alias free='free -m'                      # show sizes in MB
